@using Rocky.Models.ViewModels
@model HomeVM

<div class="container">
    <div class="text-cente">
        <button class="btn btn-dark filter-button" data-filter="all">All</button>
        @foreach(var obj in Model.Categories)
        {
            <button class="btn btn-outline-secondary filter-button" data-filter="@obj.Name.Replace(' ', '_')">
                @obj.Name
            </button>
        }
    </div>
    <br />
    <div class="row">
        @foreach(var prod in Model.Products)
        {
            // display all products
        }
    </div>
</div>